.byebug_history
.rubocop-cache
/config/master.key
/coverage
/db/*.sqlite3
/db/*.sqlite3-journal
/db/schema.rb
/log/*.log
/node_modules
/public/assets
/public/packs
/public/packs-test
/storage
/test/reports
/tmp
yarn-error.log
yarn-debug.log
*.swp